# macOS system files
.DS_Store
# VS Code settings
.vscode/
# Virtual environment
venv/
# Python bytecode
**/__pycache__/
# Jupyter notebook checkpoints
.ipynb_checkpoints
# Directory containing the test/draft files
scratchpad/
# PDF and Mac Pages files
*.pdf
*.pages
# Ignore everything inside data/
data/*
# But keep the subdirectory itself
!data/
!data/.gitkeep
# Ignore everything inside quickdraw_subset_np
data/quickdraw_subset_np/*
# But keep the subdirectory
!data/quickdraw_subset_np/
!data/quickdraw_subset_np/.gitkeep
!data/quickdraw_subset_np/*features*
# Ignore all jupyter notebooks
*.ipynb
# Ignore all torch tensors
*.pt
# Ignore all images
*.png
*.heic
# Feature extraction results
feature_extractor/feature_extraction_results.txt